/* styles.css */

/* Estilos para el contenedor de la imagen */

* {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(240,233,221);
}
.image-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    height: 100vh;
    overflow: hidden;
}

/* Estilos para la imagen de fondo */
.background-image {
    width: 100%;
    height: auto;
}

/* Estilos para el texto superpuesto */
.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black; /* Cambiado a color negro */
}

.headline {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.subtext {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.price {
    font-size: 1.5rem;
    font-weight: bold;
}

/* Estilos para los enlaces */
.learn-more {
    display: inline-block;
    background-color: #ffcc00;
    color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 24rem;
}

/* Estilos para el menú */
.menu {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    margin-top: 30px;
    margin-left: 30px;
    background-color: rgb(33,33,33);
    border-radius: 10px;
    width: 600px;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    color: rgb(240,233,221);
    
}

.menu ul{
    display: flex;
    list-style: none;
    margin-left: 110px;
    margin-right: 20px;
}

.menu ul li{
    margin-left: 20px;
    font-size: 17px;
}

.menu ul li:hover{
    cursor: pointer;
    background-color: rgb(240,233,221);
    color:rgb(33, 33, 33);

}

.menu a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.BBlack{
    margin-left: 30px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: black; /* Same color as the body */
    border: 1px solid rgb(33, 33, 33);
    color: white;
    font-size: 20px;
    width: 280px;
}

.BWhite{
    margin-left: 15px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(240, 233, 221); /* Same color as the body */
    border: 1px solid rgb(33, 33, 33);
    color: rgb(33,33,33);
    font-size: 20px;
    width: 280px;

}